.volume-issue {
	.layer__feed {
		grid-template-columns: 1fr;

		.articles__list {
			grid-template-columns: 2fr 2fr 2fr;
			grid-column-gap: $space--s;
		}
	}



	.category__intro {
		margin-bottom: $space--l;
		display: grid;
		grid-template-columns: 4fr 2fr;
		grid-column-gap: $space--s;

		.top {
			grid-column: 1 / 4;

			.category__title {
				margin-bottom: $space--s;
			}
		}

		.category__cta {
			filter: brightness(0.92) contrast(1.1) !important;

			.sticky {
				.image__container--volume {
					filter: brightness(0.92) contrast(1.1) !important;

					img {
						filter: brightness(0.92) contrast(1.1) !important;
					}
				}
			}
		}

		.category__description {
		}
	}
}