* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
	margin-top: 0 !important;

	@include screen--tablet {
		margin-top: 0 !important;		
	}
}


::-webkit-scrollbar {
	display: none;
}