.mobilenav__trigger {
	display: none;

	@include screen--tablet {
		display: block;
		z-index: 999999999999;
		position: fixed;
		top: 0;
		right: 0;		
		background-color: $color--black;
		padding: 14px 10px 8px 10px;
	}

	@include screen--mobile {

		
	}
}